.skill-card{
background:white;
padding:15px;
margin-top:15px;
border-radius:15px;
}

.bar{
height:10px;
background:#ddd;
border-radius:20px;
overflow:hidden;
}

.fill{
height:100%;
background:#7F77DD;
}